Repository khushiiagrawal/NotifyOps, changes with the labels that .github/labeler.yml gives for each.
All labels: Backend, Frontend, documentation, devops: ci-cd, devops: deployment, devops: monitoring

feat: enhance testing framework with new Playwright tests and scripts
  web/package.json
  web/tests/accessibility.spec.ts
  web/tests/ai-personalities.spec.ts
  web/tests/contact-form.spec.ts
  web/tests/example.spec.ts
  web/tests/features-section.spec.ts
  web/tests/footer.spec.ts
  web/tests/hero-section.spec.ts
  web/tests/navigation.spec.ts
  web/tests/performance.spec.ts
Labels: Frontend

fixed linting and formating
  web/tests/accessibility.spec.ts
  web/tests/ai-personalities.spec.ts
  web/tests/contact-form.spec.ts
  web/tests/example.spec.ts
  web/tests/features-section.spec.ts
  web/tests/footer.spec.ts
  web/tests/hero-section.spec.ts
  web/tests/navigation.spec.ts
  web/tests/performance.spec.ts
Labels: Frontend

feat: enhance test coverage for AI summarizer and GitHub handler
  test/ai_summarizer_test.go
  test/config_test.go
  test/github_handler_test.go
  test/utils_test.go
Labels: Backend

docs: update README with sample images and additional setup instructions for GitHub and Slack
  README.md
  web/public/images/github.png
  web/public/images/slack.png
Labels: Frontend, documentation

Mark completed items in roadmap
  README.md
Labels: documentation

new updates by new intern
  README.md
Labels: documentation

feat: add second public subnet and EKS module configuration
  terraform/main.tf
  terraform/outputs.tf
  terraform/variables.tf
Labels: devops: deployment

feat: update deployment and service configurations
  k8s/apps/web/deployment.yaml
  k8s/apps/web/service.yaml
Labels: devops: deployment

.github/labeler.yml:

# Auto-labeler configuration for NotifyOps
# This file defines rules for automatically adding labels to pull requests

# Backend related changes
Backend:
  - '**/*.go'
  - '**/go.mod'
  - '**/go.sum'
  - 'cmd/**/*'
  - 'internal/**/*'
  - 'pkg/**/*'
  - 'cmd/server/**'

# Frontend related changes
Frontend:
  - 'web/**/*'
  - '**/*.tsx'
  - '**/*.ts'
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.css'
  - '**/*.scss'
  - '**/*.sass'
  - '**/*.json'
  - '**/*.html'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/tailwind.config.*'
  - '**/next.config.*'
  - '**/tsconfig.json'
  - 'cmd/web/**'

# Documentation changes
documentation:
  - '**/*.md'
  - '**/*.rst'
  - '**/*.txt'
  - '**/*.adoc'
  - 'docs/**/*'
  - 'README*'
  - 'CHANGELOG*'
  - 'LICENSE*'
  - '.github/ISSUE_TEMPLATE/**'

# CI/CD related changes
'devops: ci-cd':
  - '.github/workflows/**/*'
  - '.gitlab-ci.yml'
  - '.travis.yml'
  - 'Jenkinsfile'
  - 'Makefile'
  - 'scripts/**/*'

# Deployment related changes
'devops: deployment':
  - '**/Dockerfile*'
  - '**/docker-compose*'
  - 'k8s/**/*'
  - 'kubernetes/**/*'
  - 'helm/**/*'
  - 'terraform/**/*'
  - 'ansible/**/*'

# Monitoring related changes
'devops: monitoring':
  - '**/prometheus*'
  - '**/grafana/**/*'
  - '**/*.metrics'
  - '**/monitoring/**/*'
  - '**/observability/**/*'
  - '**/logging/**/*'
  - 'internal/monitor/**/*'
